body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #757575;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  /* @media screen and (min-width: 480px) {
      max-width: 480px;
    }
  
    @media screen and (min-width: 768px) {
      max-width: 768px;
    }
  
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
    } */
}

.countries {
  display: grid;
  justify-content: center;
  grid-row-gap: 50px;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.countries__item {
  box-shadow: 9px 8px 12px 0px rgba(163, 145, 145, 1);
}

.wrapper {
  width: 300px;
  height: 180px;
}

.countries__item-ukraine {
  background-image: linear-gradient(to bottom, #204dca 50%, #fcf83b 50%);
}

.countries__item-japan {
  background-image: radial-gradient(circle at center, #ee1912 30%, #ffffff 30%);
}

.countries__item-iceland {
  position: relative;
  background-color: #204dca;
}

.stripe-horizontal {
  position: absolute;
  left: 80px;
  display: block;

  background-color: #ffffff;
  height: 100%;
  width: 50px;
}

.stripe-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;

  background-color: #ffffff;
  background-image: linear-gradient(
    to bottom,
    #ffffff 10px,
    #ee1912 10px,
    #ee1912 40px,
    #ffffff 40px
  );
  height: 50px;
  width: 100%;
}

.stripe-up {
  position: absolute;
  left: 90px;
  display: block;

  background-color: #ee1912;
  height: 100%;
  width: 30px;
}

.countries__item-czech {
  background-image: linear-gradient(to bottom, #ffffff 50%, #ee1912 50%);
}

.triangle {
  clip-path: polygon(40% 50%, 0 0, 0 100%);
  background-color: #204dca;
  height: 100%;
}
